<section id='employmentContainer' class='row'>
	<div class='container'>
		<h2>Employment</h2>
		<div id='employment'>
			<div ng-click='ctrl.setEmploymentTab(company.number)' ng-repeat='company in ctrl.employment' class='company col-md-6'>
				<button>{{company.name}}</button><span ng-hide='ctrl.isActiveEmploymentTab(company.number)' class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span ng-show='ctrl.isActiveEmploymentTab(company.number)' class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
				<div class='duties' ng-show='ctrl.isActiveEmploymentTab(company.number)'>
					<h5>{{company.date}}</h5>
					<h4>{{company.position}}</h4>
					<ul ng-repeat='point in company.duties' class='point'>
						<li>{{point}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
