<section id='portfolioContainer' class="row">
	<div class='container'>
		<h2>Portfolio</h2>
		<h6>Non Commercial Projects</h6>
	</div>
	<div ng-repeat='website in ctrl.portfolio' class='website'>
		<div class='webImgContainer'>
			<div perfect-parallax parallax-ratio="{{website.parallaxRatio}}" parallax-css="background-position-y" parallax-init-val="{{website.parallaxInitVal}}" style='background-image: url({{website.imageUrl}})' class="webImg">
			</div>
		</div>
		<div class='websiteInfo'>
				<a href="{{website.url}}">{{website.title}}</a>
				<ul>{{website.description}}</ul>
				<ul>{{website.technologies}}</ul>
		</div>
	</div>
</section>