<section id='portfolioContainer' class="row">
	<div class='container'>
		<h2>Portfolio</h2>
	</div>
	<div ng-repeat='website in ctrl.portfolio' class='website'>
		<div perfect-parallax parallax-ratio="-0.1" parallax-css="transform:translateY" class='webImgContainer'>
			<div perfect-parallax parallax-ratio="{{website.parallaxRatio}}" parallax-css="background-position-y" parallax-init-val="{{website.parallaxInitVal}}" style='background-image: url({{website.imageUrl}})' class="webImg">
			</div>
			<div class='websiteInfo' perfect-parallax parallax-ratio="-1" parallax-css="bottom" parallax-init-val="100">
				<a href="#">{{website.title}}</a>
				<h4>{{website.description}}</h4>
				<p>{{website.technologies}}</p>
			</div>
		</div>
	</div>
</section>