#educationContainer {
	background-color: #832d51; 
	/*background-color: #C33D64;*/
	padding-bottom: 100px;
	color: darkgray;
}

#educationContainer  h2 {
	margin: 100px 0 50px 20px;
	color: #868A8E;
	letter-spacing: 2px;
}

#educationContainer  li {
	margin-bottom: 15px;
}

#educationContainer  ul {
	margin-left: 50px;
}

.schoolInfo {
	position: relative;
	height: 50px;
	margin: 45px 0 25px;
}

.schoolInfo > h3 {
	position: absolute;
	float: left;
}

.schoolInfo > h4 {
  position: absolute;
  right: 160px;
  bottom: 0;
}


@media screen and (max-width:991px) {
	.schoolInfo > h4, .schoolInfo > h3 {
	  display: relative;
	  left: 0;
	}

	.schoolInfo {
		height: 90px;
	}

	#educationContainer  ul {
		margin-left: 10px;
	}

	#educationContainer li {
    width: 80%;
	}
}

@media screen and (max-width:420px) {
 ul.school:nth-child(3) > div {
		height: 115px;
	}
}