#employmentContainer {
	margin-bottom: 100px;
}

#employmentContainer h2 {
	margin: 100px 0 50px 20px;
	color: #2C3E50;
}

#employment {
	text-align: center;
	margin: auto;
	width: 880px;
	height: auto;
}

.company {
	width: 400px;
  margin: 20px;
  background-color: #2c3e50;
  padding: 40px;
  padding-bottom: 20px;
  border-radius: 5px;
  letter-spacing: 2px;
}
.company:hover {
	cursor: pointer;
}

.company h3 {
	color: #DED6D1;
  font-size: 25px;
}

.company h5, .company h4 {
  color: #9BA5A7;
}

.duties {
	margin-top: 30px;
	padding-bottom: 20px;
}

#employment img {
	width: 100px;
}

.company li {
	text-align: left;
	color: #DED6CD;
	list-style-type: circle;
}

@media screen and (max-width:991px) {
	.company { 
 		margin: 20px auto;
 		width: 80%;
	}

	#employment {
		width: auto;
	}
}

@media screen and (min-width:1200px) {

	.company { 
 		margin: 20px;
 		width: 500px;
	}

	#employment {
		width: 1080px;
	}
}

@media screen and (max-width:600px) {
	.company { 
		padding-right: 20px;
    padding-left: 20px;
	}
}