#portfolioContainer {
	background-color: #2C3E50;
	padding: 50px 0 100px;
	text-align: center;
}

#portfolioContainer  h2 {
	margin: 40px 20px 0px;
	color: white;
	letter-spacing: 2px;
}

#portfolioContainer  h6 {
	margin-bottom: 40px;
	color: white;
	letter-spacing: 2px;
}

#websiteButtons {
	padding-left:  0;
}

.websiteButton {
  display: inline-block;
  margin-bottom: 0px;
  width: 25%;
  padding: 12px 0;
  font-size: 17px;
  background-color: #67C8B7;
  border-left: 3px solid #2C3E50;
  color: #2C3E50;
  cursor: pointer;
  letter-spacing: 1px;
}

ul > li.websiteButton:first-child {
	border-left: 0;
	border-top-left-radius: 5px; 
}

ul > li.websiteButton:last-child {
	border-top-right-radius: 5px; 
}

.website {
	position: relative;
	background-color: white;
}

.website img {
	width: auto;
	height: 550px;
	position: relative;
}

.websiteInfo {
	width: 100%;
  padding: 0 4% 10px;
  letter-spacing: 1.5px;
  background-color: rgba(103, 200, 183, 0.67);
  text-align: left;
  position: absolute;
  bottom: 0;
}

.websiteInfo ul {
	line-height: 1.5;
}

.websiteInfo > ul:nth-child(2) {
	padding-top: 20px;
}

.websiteInfo > h3 {
	display: inline-block;
  font-size: 24px;
  color: #474646;
  padding-bottom: 20px;
}

.websiteInfo > a {
  display: inline-block;
  margin-top: 20px;
  float: right;
  font-size: 18px;
  color: #474646;
}

@media screen and (max-width:1000px) {
	.websiteButton {
    margin-bottom: 3px;
    width: 50%;
    font-size: 13px;
	}
	ul > li.websiteButton:first-child {
		border-top-left-radius: 0; 
	}
	ul > li.websiteButton:nth-child(3) {
		border-left: 0;
	}
	ul > li.websiteButton:last-child {
		border-top-right-radius: 0; 
	}	
	.website img {
		width: auto;
		height: 300px;
		position: relative;
	}
	.websiteInfo {
		padding: 0 4% 10px;
		font-size: 13px;
		text-align: left;
		position: relative;
	}
	#portfolioContainer {
    padding: 50px 0;
	}
}


/*
.website {
	position: relative;
}

.website:last-child {
	margin-bottom: 0;
}

.webImg {
	background-size: 1000px;
	height:550px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
}

.webImgContainer {
	background-color: white;
}

.websiteInfo {
	padding: 5%;
	background-color: rgba(44, 62, 80, 0.72);
	box-shadow: 1px 2px 3px rgba(0,0,0,.6);
}

.websiteInfo ul {
	line-height: 1.5;
	letter-spacing: 1.5px;
	color: #DBDADA;
}

.websiteInfo > ul:nth-child(2) {
	padding-top: 20px;
}


.websiteInfo > a {
  font-size: 24px;
  color: #858282;
  padding-bottom: 20px;
 	letter-spacing: 1.5px;
}

@media screen and (max-width:1120px) {
	.webImg {
		background-size: 700px;
		background-repeat: repeat;
	}
}

@media screen and (max-width:600px) {
	.websiteInfo ul {
		line-height: 1;
		letter-spacing: .5px;
	}
	.websiteInfo ul {
		padding-left: 0;
	}
	.webImg:nth-child(1) {
		height:400px;
		background-size: 100%;
		background-position-y: 100px;
	}
}*/